
/* Formatação do menu */
.primary {
    background-color: rgb(81, 104, 153);
    color: rgb(248, 245, 245);
}

/* Formatação para a cor de fundo do menu */
.primary {
    background-color: rgb(81, 104, 153);
    color: rgb(248, 245, 245);
}

.primary ul {
    text-decoration: none;
}

.primary ul li {
    display: inline;
}

#menu {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 10px 0;
}

.container {
    width: 1200px; 
    margin: 0 auto;
}

/* Formatação do logo da página */
#logo {
    text-align: center;
}

/* Formatação das opções */
#options {
    display: flex;
    justify-content: center;
}

/* Formatação das opções do menu */
#options ul{
    display: inline;
    list-style: none;
}

#options ul li {
    display: inline-block;
    margin: 5px 2px;
}

#options ul li a {
    display: block;
    color: rgb(248, 245, 245);
    border: 2px solid rgb(248, 245, 245);
    border-radius: 7px;
    padding: 10px 15px;
    font-size: 14pt;
    /* background-color: rgb(88, 24, 24); */
    text-transform: uppercase;
    text-decoration: none;
}

/* Formatação do da viewport onde será o projeto */
#view-project {
    padding: 75px 0;
}