p{
    text-align: justify;
    margin: 30px 0px;
}

p{
    text-align: justify;
    text-align: left;
}

#background {

    background: url("../../imagens/Doe-seu-tempo/background.jpg") top center;
    height: 100%;
    width: 100%;
    background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    filter:blur(3px);
    -webkit-filter: blur(3px);
}

body {

}

#article-presentation article {
    display: block;
    width: 50%;
    float: left;
    text-align: left;
}

.primary {
    clear: both;
}

#article-presentation img {
    width: 40%;
    float: right;
}