body {
    background-color: rgb(253, 253, 253);
    font-family: 'Roboto', sans-serif;
    color: rgb(54, 54, 54);
}

h1 {
    font-size: 31pt;
    color: rgb(248, 245, 245);
    text-align: center;
    background-color: rgb(81, 104, 153);
}

h2 {
    font-size: 22pt;
    color: rgb(248, 245, 245);
    text-align: center;
    background-color: rgb(81, 104, 153);
}

h3 {
    font-size: 20pt;
    color: rgb(248, 245, 245);
    text-align: center;
    background-color: rgb(81, 104, 153);
}

p {
    font-size: 14pt;
    text-align: center;
}

.capa {
    width: 700px;
    height: 435px;
}

a {
    font-size: 14pt;
    text-decoration: none;
}

div {
    text-align: center;
}

.ordem {
    width: 238px;
    height: 150px;
}

.front {
    width: 950px;
    margin: auto;
}

.conteudo {
    display: flex;
    align-items: center;
    margin: 30px auto;
}

.img {
    margin-left: 20px;
    float: left;
}

.texto {
    float: left;
    width: 200px;
    margin-top: -25px;
    margin-left: 25px;
}

.sadako {
    width: 450px;
    height: 290px;
}


/* Menu voltar Inicio */

.back ul {
    list-style: none;
}

.back li {
    float: center;
}

.back li a {
    text-decoration: none;
    background-color: rgb(81, 104, 153);
    color: rgb(248, 245, 245);
    border: 5px solid white;
    border-radius: 10px;
    margin-right: 5px;
    padding: 10px;
    font-size: 14px;
}


/* Fim do botão voltar */


/* Rodapé */

.pie ul li {
    display: inline;
}

.pie ul {
    text-decoration: none;
}

.pie {
    background-color: rgb(81, 104, 153);
    color: rgb(248, 245, 245);
}


/*Fim do Rodapé*/